{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Hikester</title>
{% endblock title %}

{% block body %}

<!-- Start: banner -->
<div class="container-fluid text-center"
    style="max-height: 568px;width: 100%;padding: 0px;background-repeat: no-repeat;margin: 0px;margin-top: 0px;padding-top: 56px;padding-bottom: 0px;">
    <div id="banner"
        style="max-height: 560px;min-height: 200px;width: 100%;margin-top: 0px;opacity: 0.90;padding: 58px;background-image: url('static/img/kasol.jpg');">
        <!-- <bg-image src="{% static 'img/kasol.jpg' %}"></bg-image> -->
        <div id="contact-front" class="">
            <div class="row ">
                <div class="text-nowrap  col-md-10 col-sm-8 col-lg-8 ">
                    <a class="text-decoration-none" href="tel: +919539867664">
                        <div class="text-center border-success" id="contact-btn"
                            style="padding: 8px;width: 100%;margin-top: 6px;"><i class="fa fa-volume-control-phone"
                                style="margin-right: -1px;font-size: 24px;"></i><span>+919539867664</span></div>
                    </a>
                </div>
                <div class="col-md-10 col-sm-8 col-lg-8" style="margin-top: 10px;margin-bottom: 8px;">
                    <a class="text-decoration-none" href="#">
                        <div class="text-center border-success" data-bs-hover-animate="pulse" id="contact-btn"
                            style="padding: 8px;width: 100%;background-color: #51b32f;"><i class="fa fa-whatsapp"
                                style="margin-right: 10px;font-size: 25px;color: rgb(244,246,248);"></i><span
                                style="color: rgb(248,249,251);">WhatsApp</span></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block d-md-none d-lg-block"
            style="width: 45%;margin-left: 645px;margin-top: -43px;margin-right: 28px;margin-bottom: 0px;">
            <!-- Start: message_box -->
            <div class="text-center border rounded-0 shadow"
                style="margin-top: 14px;padding-top: 42px;margin-right: 19px;width: 70%;"><i class="fa fa-send"
                    style="height: 19px;font-size: 41px;color: #409ee1;margin-top: 0px;"></i>
                <h4 style="margin-top: -2px;padding-bottom: 0px;">Make Your Enquiry</h4>
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group" style="padding: 23px;padding-top: 22px;"><input
                                class="border rounded-0 shadow-sm form-control" type="text" placeholder="Name"
                                style="width: 95%;margin-bottom: 18px;margin-top: 8px;" required=""
                                name="name"><textarea class="border rounded-0 shadow-sm form-control"
                                style="width: 95%;height: 74px;margin-top: 7px;" placeholder="Message" name="message"></textarea><input
                                class="border rounded-0 shadow-sm form-control d-lg-flex" type="email"
                                placeholder="Email" style="width: 95%;margin-left: 0%;margin-top: 11px;"
                                required="" name="email"><input class="border rounded-0 shadow-sm form-control" type="number"
                                required="" placeholder="Phone Number"
                                style="margin-top: 18px;width: 95%;margin-left: 0px;" name="number"><button
                                class="btn btn-primary btn-lg" type="submit" style="margin-top: 33px;">Send
                                Message</button></div>
                    </form>
                </div>
            </div>
            <!-- End: message_box -->
        </div>
    </div>
</div>
<!-- End: banner -->
<!-- Start: about -->
<div id="about" class="highlight-phone" style="margin-top: 0;padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Start: Intro -->
                <div class="intro">
                    <h2>About Us</h2>
                    <p><br><strong>Hikester is an alternative lifestyle that gives you the oppurtunity to push your
                            boundaries and revive your zest. We encourage you to take the road less travelled, do
                            something extraordinary and step outside your comfort zone. Hikester will be there by your
                            side, willing you on! feel the sheer joy of jumping of a cliff, ride the wildest waves on
                            the ferocious rivers and conquer the mightiest peaks of Himalayas.</strong><br><br></p>
                </div>
                <!-- End: Intro -->
            </div>
            <div class="col-sm-4">
                <!-- Start: Smartphone -->
                <div class="d-none d-md-block iphone-mockup"><img class="img-fluid d-xl-flex device"
                        src="{% static '/img/logo.png' %}" style="margin-top: 90px;"></div>
                <!-- End: Smartphone -->
            </div>
        </div>
    </div>
</div>
<!-- End: about -->
<!-- Start: Destination -->
<div id="destinations" class="photo-gallery" style="width: 100%;">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Destinations</h2>
            <p class="text-center">We recommend you the best tourist destinations all over India. Find the Unexplored Destination from the List and explore it with Hikester. </p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Photos -->
        <div>
            <div class="row photos">
                {% for place in destinations %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4 " data-bs-hover-animate="pulse" id="Destination">
                    <div class="shadow dest"><a class="text-decoration-none"
                            href="{% url 'destination-packages' place.id %}"><img class="img-fluid dest-image "
                                src="{{place.image.url}}">
                            <div>
                                <div class="text-center" style="font-size: 1px;"><span
                                        style="font-size: 26px;color: rgb(6,8,13);">{{place.place}}</span></div>
                            </div>
                        </a></div>
                </div>
                {% endfor %}
            </div>
            <div>
                <a href="{% url 'destinations' %}" style="text-decoration: none;">
                    <div class="view-destinations">View All
                    </div>
                </a>
            </div>

        </div>
        <!-- End: Photos -->
    </div>
</div>
<!-- End: Destination -->
<!-- Start: Packages -->
<div id="packages" class="article-list" style="width: 100%;">
    <div class="container" style="background-color: #eef4f7;width: 100%;max-width: 100%;">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Packages</h2>
            <p class="text-center">We provide Collection of Tour Packages including Backpacking, Treking, Kayaking, Exploring..etc. Choose the proper package for your holidays. </p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Articles -->
        <div class="row articles" style="padding: 0px;">
            {% for package in packages %}
            <div class="col col-md-6 col-lg-4" style="padding: 1%;margin: 0px;">
                <div class="text-left shadow" data-bs-hover-animate="pulse"
                    style="padding: 20px;margin: 9px;margin-left: 0px;background-color: #ffffff;max-height: 100%;"><a
                        href="{% url 'package' package.id %}"><img class="img-fluid" src="{{package.image.url}}"
                            style="margin: 0px;"></a>
                    <h3 class="text-left name" style="font-size: 24px;margin-top: 14px;">{{package.title}}</h3>
                    <div class="text-left"><i class="fa fa-sun-o"></i><span id="days"
                            style="margin-left: 6px;">{{package.days}}</span><span class="text-left"
                            style="margin-left: 6px;">days</span><i class="fa fa-moon-o"
                            style="margin-left: 29px;"></i><span id="nights"
                            style="margin-left: 6px;">{{package.nights}}</span>
                        <span style="margin-left: 6px;">Nights</span>
                    </div>
                    <!-- Start: inclusions -->
                    <div class="text-justify row" style="min-height: 69px;width: 329px;padding: 6px;max-width: 100%;">
                        <div style="margin-top: 9px;background-color: rgba(217,233,235,0);height: 41px;"><i
                                class="fa fa-home border rounded-0 fa-lg"
                                style="width: 16px;height: 4px;margin-top: 10px;margin-left: 39px;"></i>
                            <!-- Start: line break --><br>
                            <!-- End: line break --><span
                                style="height: 6px;width: 21px;margin-left: 9px;font-size: 12px;">Accomodation</span>
                        </div>
                        <div class="text-center"
                            style="margin-top: 15px;background-color: rgba(217,233,235,0);height: 41px;"><i
                                class="fa fa-car fa-lg"></i>
                            <!-- Start: line break --><br>
                            <!-- End: line break --><span
                                style="height: 6px;width: 21px;margin-left: 10px;font-size: 12px;">Transport</span>
                        </div>
                        <div style="margin-top: 9px;background-color: rgba(217,233,235,0);height: 41px;"><i
                                class="fas fa-utensils fa-lg"
                                style="width: 16px;height: 6px;margin-top: 10px;margin-left: 30px;"></i>
                            <!-- Start: line break --><br>
                            <!-- End: line break --><span
                                style="height: 6px;width: 21px;margin-left: 26px;font-size: 12px;">Meals</span></div>
                        <div style="margin-top: 9px;background-color: rgba(217,233,235,0);height: 41px;"><i
                                class="fa fa-binoculars fa-lg"
                                style="width: 16px;height: 6px;margin-top: 10px;margin-left: 39px;margin-right: 0px;"></i>
                            <!-- Start: line break --><br>
                            <!-- End: line break --><span
                                style="height: 6px;width: 21px;margin-left: 18px;font-size: 12px;">Sightseeing</span>
                        </div>
                    </div>
                    <!-- End: inclusions -->
                    <hr
                        style="background-color: #110d0d;margin-top: 6px;margin-bottom: 0px;width: 90%;margin-left: 0px;">
                    <div style="width: 99px;min-height: 0px;height: 30px;"><span
                            style="margin-bottom: 0px;"><br>Starting From<br></span></div>
                    <div class="text-justify row" style="margin: -1px;margin-left: -16px;height: 80px;width: 100%;"><i
                            class="fa fa-rupee fa-2x"
                            style="width: 27px;height: 34px;margin-top: 24px;margin-left: 19px;"></i>
                        <p class="description" style="font-size: 30px;color: #409ee1;margin-top: 16px;">
                            {{package.price}}</p><a class="action" href="{% url 'package' package.id %}"
                            style="margin-left: 10%;height: auto;"><button class="btn btn-primary" type="button"
                                style="background-color: #0bd7d3;width: 116px;margin-bottom: 73px;margin-right: -2px;margin-top: 12px;">View
                                details</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="view-more-btn" style="padding-bottom: 4%; padding-top: 2%; padding-left: 4%;">
            <a href="{% url 'packages' %}" style="text-decoration: none;">
                <div class="view-packages">View All
                </div>
            </a>
        </div>
        <!-- End: Articles -->
    </div>
</div>
<!-- End: Packages -->
<!-- Start: Lightbox Gallery -->
<div id="gallery" class="photo-gallery">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Gallery</h2>
            <p class="text-center">Wall of some framed Memories of Hikester Explorations Community. </p>
        </div>
        <!-- End: Intro -->

        <!-- Start: Basic fancyBox Gallery -->
        <div class="container">
            <div class="row flex-box flex-wrap-wrap">
                {% for image in gallery %}
                <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a class="fancybox" rel="gallery1"
                        title="{{image.caption}}" href="{{image.image.url}}"><img class="img-fluid"
                            src="{{image.image.url}}"></a></div>
                {% endfor %}
                <div class="col-sm-4 flex-box flex-justify-center flex-align-center" id="gallery-icon"
                    style="padding: 6%;padding-top: 4%;"><a class="fancybox" rel="gallery1" title="{{image.caption}}"
                        href="{% url 'gallery' %}" style="text-decoration: none;"><img class="img-fluid"
                            src="{% static 'img/clipart2312515.png' %}">
                        <h3 style="text-align: center;">Show All</h3>
                    </a></div>
            </div>
        </div>
        <!-- End: Basic fancyBox Gallery -->

    </div>
</div>
<!-- End: Lightbox Gallery -->
<!-- Start: Contact Form Clean -->
<div id="contact" class="contact-clean">
    <form method="POST" action="">
        {% csrf_token %}
        <h2 class="text-center">Contact us</h2>
        <!-- Start: Success Example -->
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
        <!-- End: Success Example -->
        <!-- Start: Error Example -->
        <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email">
        </div>
        <!-- End: Error Example --><input class="form-control" type="number" name="number" placeholder="Phone Number"
            style="margin-bottom: 15px;">
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message"
                rows="14"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
    </form>
</div>
<!-- End: Contact Form Clean -->
{% endblock body %}